

.list-group-item {
  background-color:white;
  color: #76838f;
  text-align: center;
  text-decoration: none;
  display: inline-block;





}

a{
  font-size: 80%;

}

table {
  font-family: arial, sans-serif;
  width: 100%;
  background-image: url(body-bg4.png);


  
}

td,th {
  border: 0px solid black;
  text-align:center;
  padding: 8px;
  border-radius: 10px;
  background-color: white;
  width: 25%;
  height: 25%;



}



.AR{
  background-color: #57c7d4;
  color: white;
  text-align: center;
  text-decoration: none;




}
.AM{
  background-color: #46be8a;
  color: white;
  text-align: center;
  text-decoration: none;


}

.AS{
  background-color: #f2a654;
  color: white;
  text-align: center;
  text-decoration: none;

}

body{
  background-image: url(image/body-bg4.png);
}

.logo{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;

}

.imgmaths{
  display: block;
  margin-left: auto;


  height: 50%;
  background-color: #6d45bc;

}

.physics{
  display: block;
  margin-right: auto;


  height: 50%;
  background-color: #6d45bc;

}

.AS{
  text-align: center;
}

.list-group-bem {
  background-color:#46be8a;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;



}

.list-group-bac {
  background-color:#f2a654;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;



}











