table{
    width: 75%;
    height: 50%;
    background-color: rgba(248,234,169,0.55);
    border-radius: 10px 10px 10px 10px;
    border: 1px solid black;
    margin-left: auto;
    float: left;
    font-size: 14px;
    padding: 5px;
}

td{
    color: black;
    text-align: center;
    text-decoration: underline;
;
    border-radius: 10px 10px 10px 10px;
}

th{
    text-align: right;
    color: #26518a;
    font-weight: bold;
    text-decoration: none;
    font-size: 80%;
}

.thf{
    color: rgb(134, 64, 174);
    text-decoration: underline;
    font-size: 100%;
    padding: 5px;
}

.logo{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 50%;
    float: right;


}

body{
    background-image: url(image/body-bg4.png);
}

.left{
    margin-right: auto;
    width: 50%;
    height: 50%;
    display: block;
}

h3{
    text-align: center;
    color: white;

    background-image: url(image/bd.png);
    border-radius: 10px 35px 40px 25px;
}

br{
    background-image: url(image/bd.png);
}










