



table {
  font-family: arial, sans-serif;
  width: 100%;

  
}

td,th {
  border: 0pt solid black;
  text-align:center;
  padding: 0;
  border-radius: 25px 25px 25px 25px;
  background-image: url(image/body-bg4.png) ;



}


tr {
  background-color: white;
  text-align: center;
  width: 5%;

}

body{
  background-image: url(image/body-bg4.png);
}

.logo{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height:30%;

}




.AS{
  text-align: center;
}

img{
      border-radius: 25px 25px 25px 25px;

}

.math{
  height: 100%;
  width: 100%;
}

.phy{
  height: 100%;
  width: 100%;
}

.exp{
  display: block;
  margin-left: auto;
  border-radius: 15px 25px 25px 25px;
  width: 50%;
  height: 100%;
  padding: 1px;
  border: 1pt solid black;

}

.exm{
  display: block;
  margin-left: auto;
  border-radius: 15px 25px 25px 25px;
  width: 50%;
  height: 100%;
  padding: 1px;
  border: 1pt solid black;

}

h4{
  background-color: #fbf3d0;
  color: #214e89;
  width: 80%;
  height: 100%;
  margin-left: auto;
  border-radius: 15px 25px 25px 25px;
  border: 1pt solid black;
  text-decoration: none;

}




















